
#single-movie-container{
    width: 100%;
    height: 100vh;
    background: no-repeat center center / cover;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}


.single-movie-content{
    
    height: 100%;
    color: #fff;

}

.movie-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0 0 2rem;
}

#original-title{
    font-size: 2.4rem;
}

.movie-info{
    padding: 2rem 0 0 2rem;
}

.release-date{
    margin-left: .4rem;
}

span{
    font-size: 1.2rem;
}

p{
     width: 50%;
     font-size: 1.1rem;
}

.movie-additional-info{
    color: #fff;
    padding: 0;
}

.cast{
    font-size: 14px;
    line-height: 20px;
    margin: 0.5em 0.5em 0.5em 0;
    word-break: break-word;
    display: block;
    padding: 2rem 0;
}

.cast-preview{
    word-break: break-word;
    color: #777;
    padding: 0;

}

.cast-name{
    padding: 0;
    margin: 0;
    color: #fff;
}

